{% extends 'index.html' %}
{% block titulo %}
    Creación de Usuarios
{% endblock titulo %}
{% block body %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Crear</button>
    </form>
{% endblock body %}