<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titulo %}Index{% endblock titulo %}</title>
    {% block extracss %}
    {% endblock extracss %}
</head>
<body>
    {% block body %}
    <h1>Este es el index de mi proyecto</h1>
    {% endblock body %}


    {% block extrajs %}
    {% endblock extrajs %}
</body>
</html>